 
<form action="">
    Name: <input type="text" placeholder="Name"> 
    Level : <input type="text" placeholder="Curent study">
    <div class="main-content">
      <div>
        <table class="table table-dark">
          <thead>
            <th>Subject</th>
            <th>Marks Obtain</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text"  ></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button class="btn btn-primary mt-1"  >Generate</button>
  </form>
  

  <div class="main-content">
    <h3 class="data"> Your Marksheet is Ready to print</h3>
    <div>
      <table class="table table-dark">
       Name: <input type="text ml-4"  >
       Level: <input type="text"  >
       <thead>
        <th>S.N</th>
        <th>Subject Name</th>
        <th> Marksheet Obtain</th>
      </thead>
      <tr>
        <td><input type="text"  ></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
      </tr>
      <tbody>
      </table>
      <p> Total:</p>
      <p> Percentage:</p>
      <input type="text" placeholder="Teachers_Comment">
    </div>
  </div>